@mixin flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

@mixin left-bdr-btn {
    .left-bdr-btn {
        position: relative;
        cursor: pointer;
        height: 5rem;
        width: 50%;
        margin-bottom: 2.8rem;
        padding: 0 2.5rem;
        border-left: .17rem solid rgb(203, 217, 10);
        font-family: "Raleway", sans-serif;
        @include flex-box;

        p {
            font-size: 1.17rem;
        }

        span {
            font-size: 1.5rem;
        }

        &:hover::before {
            content: "";
            position: absolute;
            background-color: rgba(225, 225, 102, 0.4);
            width: 100%;
            height: 100%;
            left: 0;

        }

    }
}

@mixin sec-heading {

    .sec-heading-txt {
        height: 18rem;
        padding-left: 2.8rem;
        border-bottom: .1rem solid #9FA1A339;

        @include flex-box;
        align-items: end;
        font-family: 'Roboto', sans-serif;

        p {

            width: 30.6rem;
            padding: 2.8rem;
            font-size: 2.6rem;
            font-weight: 300;

            span {
                color: rgb(183, 181, 181);

                opacity: .7;

            }

        }


    }
}

@mixin cards {

    height: 31.3rem;
    width: 25rem;
    border-radius: .6rem;
    background-color: #DDDFE1;

    .upper-card {
        padding: 2.8rem;
        @include flex-box;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 2.5rem;
        font-size: .93rem;

        font-weight: 600;
        height: 82%;

        p {
            span.numb {
                background-color: white;
                color: rgb(62, 61, 61);



            }

            span {
                padding: .15rem .4rem;
                border-radius: 2rem;
                background-color: black;
                color: #DDDFE1;

            }
        }

        .card-logo {
            height: 6.1rem;
            width: max-content;
            @include flex-box;


        }

        .address {
            font-family: 'Roboto', sans-serif;
            font-size: 1.4rem;
            font-weight: 400;
            color: rgb(89, 89, 89);

            .p2 {
                margin-top: .6rem;
                color: rgb(139, 138, 138);
            }
        }

    }


    .lower-card {
        height: calc(100% - 82%);
        border-top: .15rem solid #9FA1A339;
        font-family: 'Roboto', sans-serif;

        padding: 0 2.8rem;
        @include flex-box;

        p {
            font-size: 1.4rem;
            color: rgb(89, 89, 89);
            font-weight: 400;
        }

        span {
            font-size: 1.5rem;
            background-color: white;
            color: black;
            height: 2.7rem;
            width: 2.7rem;
            border-radius: 50%;
            @include flex-box;
            justify-content: center;

            font-weight: 400;


        }

    }
}

@mixin greyscale-image {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: .5rem;
    filter: grayscale(100%) brightness(0.9);;
}
@mixin last-card{
    

    &.card8 {
        font-family: 'Roboto', sans-serif;
        background-image: linear-gradient(rgb(86, 85, 85), rgb(35, 35, 35));

        .upper-card {
            padding: 7rem 2.8rem;

            .last-card-text {
                font-size: 2rem;
                font-weight: 400;
                color: rgb(211, 209, 209);

            }

            .last-card-numb {
                color: rgb(112, 112, 112);
                font-size: 1.4rem;
                margin-top: 1.7rem;
                font-weight: 400;

            }

        }

        .last-card-p {
            p {
                color: rgb(212, 210, 210);
                font-weight: 300;
            }

            span {
                background-color: rgb(250, 76, 18);
            }
        }

    }
}