@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: sans-serif; }

body {
  color: white;
  position: relative;
  background-color: #000000;
  z-index: 1;
  height: max-content; }
  body::-webkit-scrollbar {
    display: none; }
  body .bdr {
    width: .1rem;
    height: 100%;
    position: absolute;
    z-index: 100;
    background-color: #9FA1A339;
    opacity: 1; }
    body .bdr.b1 {
      left: 2.8rem; }
    body .bdr.b2 {
      left: 33.4rem; }
    body .bdr.b3 {
      left: 64rem; }
    body .bdr.b4 {
      left: 94.6rem; }
    body .bdr.b5 {
      left: 125.2rem; }

.nav-container {
  border-bottom: .1rem solid #9FA1A339;
  height: 7.3rem; }
  .nav-container .navbar {
    font-family: "Raleway", sans-serif;
    height: 100%;
    margin: 0 2.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .nav-container .navbar .logo {
      font-size: 1.3rem; }
    .nav-container .navbar .menu {
      width: 61rem;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .nav-container .navbar .menu .nav-link {
        margin-left: 2.3rem;
        font-family: sans-serif;
        width: 29rem;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: space-between;
        opacity: .95;
        font-size: 1.2rem;
        font-weight: 100; }
        .nav-container .navbar .menu .nav-link span {
          background-color: white;
          color: black;
          border-radius: 1rem;
          font-size: 1rem;
          font-weight: 500;
          padding: 0 .3rem; }
      .nav-container .navbar .menu .nav-btn-ham {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-items: center;
        gap: 3rem; }
        .nav-container .navbar .menu .nav-btn-ham #investor-btn {
          position: relative;
          border-radius: .3rem; }
          .nav-container .navbar .menu .nav-btn-ham #investor-btn div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 13rem;
            height: 3.4rem;
            padding-left: 1.7rem;
            justify-content: center;
            border-radius: .3rem;
            border: .1rem solid #9FA1A339;
            background: rgba(0, 0, 0, 0.84); }
            .nav-container .navbar .menu .nav-btn-ham #investor-btn div h1 {
              font-size: 1.1rem; }
          .nav-container .navbar .menu .nav-btn-ham #investor-btn::before {
            content: "";
            border-radius: .3rem;
            background-color: #787777;
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: -1;
            filter: blur(0.01rem); }
        .nav-container .navbar .menu .nav-btn-ham #ham-btn {
          height: 2rem;
          width: 2.4rem;
          position: relative;
          cursor: pointer; }
          .nav-container .navbar .menu .nav-btn-ham #ham-btn .hamline {
            border: .1rem solid;
            width: .1rem;
            height: 100%;
            position: absolute;
            transition: all .6s; }
            .nav-container .navbar .menu .nav-btn-ham #ham-btn .hamline.line1 {
              left: 25%; }
            .nav-container .navbar .menu .nav-btn-ham #ham-btn .hamline.line2 {
              left: 50%; }
            .nav-container .navbar .menu .nav-btn-ham #ham-btn .hamline.line3 {
              left: 75%; }
            .nav-container .navbar .menu .nav-btn-ham #ham-btn .hamline.line4 {
              left: 100%; }
          .nav-container .navbar .menu .nav-btn-ham #ham-btn:hover .line2 {
            left: 40%; }
          .nav-container .navbar .menu .nav-btn-ham #ham-btn:hover .line3 {
            left: 50%; }

.header-sec1 {
  width: 61.2rem;
  margin: 2.8rem 2.8rem 0 auto;
  height: 29.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 6rem; }
  .header-sec1 h1 {
    width: 20rem;
    margin-left: 12rem;
    line-height: 2.2rem;
    letter-spacing: -.09rem;
    font-size: 2.2rem;
    transform: scale(1.87, 1.4); }
  .header-sec1 .left-bdr-btn {
    position: relative;
    cursor: pointer;
    height: 5rem;
    width: 50%;
    margin-bottom: 2.8rem;
    padding: 0 2.5rem;
    border-left: 0.17rem solid #cbd90a;
    font-family: "Raleway", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header-sec1 .left-bdr-btn p {
      font-size: 1.17rem; }
    .header-sec1 .left-bdr-btn span {
      font-size: 1.5rem; }
    .header-sec1 .left-bdr-btn:hover::before {
      content: "";
      position: absolute;
      background-color: rgba(225, 225, 102, 0.4);
      width: 100%;
      height: 100%;
      left: 0;
      top: 0; }

.header-sec2 {
  position: relative; }
  .header-sec2 .sec2-txt {
    height: 19.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center; }
    .header-sec2 .sec2-txt h1.fab {
      margin-left: -5.4rem;
      font-size: 6rem;
      transform: scale(6.8, 4.3);
      letter-spacing: -.3rem;
      font-weight: 500;
      line-height: 4.5rem;
      font-family: "Roboto", sans-serif; }
  .header-sec2 p {
    font-size: 2.5rem;
    position: absolute;
    right: 2.7rem;
    top: 0rem; }

.outer-div2-mainsec {
  background-image: radial-gradient(circle at 30% 100%, #530c01 10%, #050505 49%, black 60%);
  height: 84rem; }
  .outer-div2-mainsec .div2-mainsec {
    height: 66rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .outer-div2-mainsec .div2-mainsec .div2-sec1 {
      width: 61.2rem;
      height: 40rem;
      margin: 2.8rem 2.8rem 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      align-items: start;
      justify-content: space-between; }
      .outer-div2-mainsec .div2-mainsec .div2-sec1 p.div2-txt {
        padding: 0 2rem 0 2.8rem;
        font-size: 2.56rem;
        line-height: 3.2rem;
        font-family: "Roboto", sans-serif;
        font-weight: 300; }
        .outer-div2-mainsec .div2-mainsec .div2-sec1 p.div2-txt span {
          color: #b8b8b8; }
      .outer-div2-mainsec .div2-mainsec .div2-sec1 .div2-btn {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .outer-div2-mainsec .div2-mainsec .div2-sec1 .div2-btn .left-bdr-btn {
          position: relative;
          cursor: pointer;
          height: 5rem;
          width: 50%;
          margin-bottom: 2.8rem;
          padding: 0 2.5rem;
          border-left: 0.17rem solid #cbd90a;
          font-family: "Raleway", sans-serif;
          display: flex;
          justify-content: space-between;
          align-items: center; }
          .outer-div2-mainsec .div2-mainsec .div2-sec1 .div2-btn .left-bdr-btn p {
            font-size: 1.17rem; }
          .outer-div2-mainsec .div2-mainsec .div2-sec1 .div2-btn .left-bdr-btn span {
            font-size: 1.5rem; }
          .outer-div2-mainsec .div2-mainsec .div2-sec1 .div2-btn .left-bdr-btn:hover::before {
            content: "";
            position: absolute;
            background-color: rgba(225, 225, 102, 0.4);
            width: 100%;
            height: 100%;
            left: 0;
            top: 0; }
  .outer-div2-mainsec .banner-text {
    height: calc(84rem - 66rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center; }
    .outer-div2-mainsec .banner-text h1 {
      margin-left: -1.1rem;
      font-size: 5.8rem;
      font-weight: bold;
      transform: scale(1.76, 1.1);
      letter-spacing: -.31rem; }
      .outer-div2-mainsec .banner-text h1 span {
        color: #b7b5b5;
        font-weight: 900;
        opacity: .7; }

.porfolio-main-sec {
  height: 94.5rem;
  background-image: radial-gradient(circle at 30% -12%, #530c01 10%, #050505 49%, black 60%); }
  .porfolio-main-sec .sec-heading-txt {
    height: 18rem;
    padding-left: 2.8rem;
    border-bottom: .1rem solid #9FA1A339;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: end;
    font-family: 'Roboto', sans-serif; }
    .porfolio-main-sec .sec-heading-txt p {
      width: 30.6rem;
      padding: 2.8rem;
      font-size: 2.6rem;
      font-weight: 300; }
      .porfolio-main-sec .sec-heading-txt p span {
        color: #b7b5b5;
        opacity: .7; }
  .porfolio-main-sec .pfolio-grid {
    margin: 0 2.8rem;
    height: 75rem;
    display: grid;
    grid-template-columns: repeat(4, 30.6rem);
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: end; }
    .porfolio-main-sec .pfolio-grid .cards {
      height: 31.3rem;
      width: 25rem;
      border-radius: .6rem;
      background-color: #DDDFE1;
      position: relative; }
      .porfolio-main-sec .pfolio-grid .cards .upper-card {
        padding: 2.8rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 2.5rem;
        font-size: .93rem;
        font-weight: 600;
        height: 82%; }
        .porfolio-main-sec .pfolio-grid .cards .upper-card p span.numb {
          background-color: white;
          color: #3e3d3d; }
        .porfolio-main-sec .pfolio-grid .cards .upper-card p span {
          padding: .15rem .4rem;
          border-radius: 2rem;
          background-color: black;
          color: #DDDFE1; }
        .porfolio-main-sec .pfolio-grid .cards .upper-card .card-logo {
          height: 6.1rem;
          width: max-content;
          display: flex;
          justify-content: space-between;
          align-items: center; }
        .porfolio-main-sec .pfolio-grid .cards .upper-card .address {
          font-family: 'Roboto', sans-serif;
          font-size: 1.4rem;
          font-weight: 400;
          color: #595959; }
          .porfolio-main-sec .pfolio-grid .cards .upper-card .address .p2 {
            margin-top: .6rem;
            color: #8b8a8a; }
      .porfolio-main-sec .pfolio-grid .cards .lower-card {
        height: calc(100% - 82%);
        border-top: .15rem solid #9FA1A339;
        font-family: 'Roboto', sans-serif;
        padding: 0 2.8rem;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .porfolio-main-sec .pfolio-grid .cards .lower-card p {
          font-size: 1.4rem;
          color: #595959;
          font-weight: 400; }
        .porfolio-main-sec .pfolio-grid .cards .lower-card span {
          font-size: 1.5rem;
          background-color: white;
          color: black;
          height: 2.7rem;
          width: 2.7rem;
          border-radius: 50%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          justify-content: center;
          font-weight: 400; }
      .porfolio-main-sec .pfolio-grid .cards.card8 {
        font-family: 'Roboto', sans-serif;
        background-image: linear-gradient(#565555, #232323); }
        .porfolio-main-sec .pfolio-grid .cards.card8 .upper-card {
          padding: 7rem 2.8rem; }
          .porfolio-main-sec .pfolio-grid .cards.card8 .upper-card .last-card-text {
            font-size: 2rem;
            font-weight: 400;
            color: #d3d1d1; }
          .porfolio-main-sec .pfolio-grid .cards.card8 .upper-card .last-card-numb {
            color: #707070;
            font-size: 1.4rem;
            margin-top: 1.7rem;
            font-weight: 400; }
        .porfolio-main-sec .pfolio-grid .cards.card8 .last-card-p p {
          color: #d4d2d2;
          font-weight: 300; }
        .porfolio-main-sec .pfolio-grid .cards.card8 .last-card-p span {
          background-color: #fa4c12; }
      .porfolio-main-sec .pfolio-grid .cards:hover::before {
        content: "";
        position: absolute;
        background-color: rgba(225, 225, 102, 0.4);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0; }

.bold-main-sec {
  height: 30.5rem;
  padding-top: 11.7rem; }
  .bold-main-sec .bold-sec {
    margin: 0 2.8rem 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 61.2rem;
    height: 17rem; }
    .bold-main-sec .bold-sec p.bld-txt {
      font-size: 1.2rem;
      font-weight: 600;
      margin-left: 14.7rem;
      border-right: .1rem solid grey;
      padding-right: .1rem;
      transform: scale(3.4, 2.2); }
    .bold-main-sec .bold-sec .left-bdr-btn {
      position: relative;
      cursor: pointer;
      height: 5rem;
      width: 50%;
      margin-bottom: 2.8rem;
      padding: 0 2.5rem;
      border-left: 0.17rem solid #cbd90a;
      font-family: "Raleway", sans-serif;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .bold-main-sec .bold-sec .left-bdr-btn p {
        font-size: 1.17rem; }
      .bold-main-sec .bold-sec .left-bdr-btn span {
        font-size: 1.5rem; }
      .bold-main-sec .bold-sec .left-bdr-btn:hover::before {
        content: "";
        position: absolute;
        background-color: rgba(225, 225, 102, 0.4);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0; }

.collab-sec {
  height: 80rem;
  margin-top: 10rem;
  position: relative; }
  .collab-sec .bck-ylw-txt {
    height: 11rem;
    position: absolute;
    z-index: -2;
    width: 100%;
    border-radius: .5rem;
    background-color: #ffe600; }
  .collab-sec .outer-blur-bck {
    height: 67rem;
    position: relative;
    top: 9rem; }
    .collab-sec .outer-blur-bck .inner-blur-bck {
      height: 100%; }
      .collab-sec .outer-blur-bck .inner-blur-bck .sec-heading-txt {
        height: 18rem;
        padding-left: 2.8rem;
        border-bottom: .1rem solid #9FA1A339;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-items: end;
        font-family: 'Roboto', sans-serif; }
        .collab-sec .outer-blur-bck .inner-blur-bck .sec-heading-txt p {
          width: 30.6rem;
          padding: 2.8rem;
          font-size: 2.6rem;
          font-weight: 300; }
          .collab-sec .outer-blur-bck .inner-blur-bck .sec-heading-txt p span {
            color: #b7b5b5;
            opacity: .7; }
      .collab-sec .outer-blur-bck .inner-blur-bck .collab-card {
        height: calc(70rem - 18rem); }
        .collab-sec .outer-blur-bck .inner-blur-bck .collab-card .collab-inner-div {
          margin: 0 2.8rem;
          display: grid;
          grid-template-columns: repeat(4, 30.6rem);
          grid-template-rows: 36.8rem;
          justify-items: center;
          align-items: center; }
          .collab-sec .outer-blur-bck .inner-blur-bck .collab-card .collab-inner-div .cards {
            position: relative;
            background-color: black !important;
            height: 31.3rem;
            width: 25rem;
            border-radius: .6rem;
            background-color: #DDDFE1; }
            .collab-sec .outer-blur-bck .inner-blur-bck .collab-card .collab-inner-div .cards .upper-card {
              padding: 2.8rem;
              display: flex;
              justify-content: space-between;
              align-items: center;
              flex-direction: column;
              align-items: start;
              justify-content: start;
              gap: 2.5rem;
              font-size: .93rem;
              font-weight: 600;
              height: 82%; }
              .collab-sec .outer-blur-bck .inner-blur-bck .collab-card .collab-inner-div .cards .upper-card p span.numb {
                background-color: white;
                color: #3e3d3d; }
              .collab-sec .outer-blur-bck .inner-blur-bck .collab-card .collab-inner-div .cards .upper-card p span {
                padding: .15rem .4rem;
                border-radius: 2rem;
                background-color: black;
                color: #DDDFE1; }
              .collab-sec .outer-blur-bck .inner-blur-bck .collab-card .collab-inner-div .cards .upper-card .card-logo {
                height: 6.1rem;
                width: max-content;
                display: flex;
                justify-content: space-between;
                align-items: center; }
              .collab-sec .outer-blur-bck .inner-blur-bck .collab-card .collab-inner-div .cards .upper-card .address {
                font-family: 'Roboto', sans-serif;
                font-size: 1.4rem;
                font-weight: 400;
                color: #595959; }
                .collab-sec .outer-blur-bck .inner-blur-bck .collab-card .collab-inner-div .cards .upper-card .address .p2 {
                  margin-top: .6rem;
                  color: #8b8a8a; }
            .collab-sec .outer-blur-bck .inner-blur-bck .collab-card .collab-inner-div .cards .lower-card {
              height: calc(100% - 82%);
              border-top: .15rem solid #9FA1A339;
              font-family: 'Roboto', sans-serif;
              padding: 0 2.8rem;
              display: flex;
              justify-content: space-between;
              align-items: center; }
              .collab-sec .outer-blur-bck .inner-blur-bck .collab-card .collab-inner-div .cards .lower-card p {
                font-size: 1.4rem;
                color: #595959;
                font-weight: 400; }
              .collab-sec .outer-blur-bck .inner-blur-bck .collab-card .collab-inner-div .cards .lower-card span {
                font-size: 1.5rem;
                background-color: white;
                color: black;
                height: 2.7rem;
                width: 2.7rem;
                border-radius: 50%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                justify-content: center;
                font-weight: 400; }
            .collab-sec .outer-blur-bck .inner-blur-bck .collab-card .collab-inner-div .cards:hover::before {
              content: "";
              position: absolute;
              background-color: rgba(225, 225, 102, 0.4);
              width: 100%;
              height: 100%;
              left: 0;
              top: 0; }
            .collab-sec .outer-blur-bck .inner-blur-bck .collab-card .collab-inner-div .cards .address p {
              color: white; }
            .collab-sec .outer-blur-bck .inner-blur-bck .collab-card .collab-inner-div .cards .lower-card p {
              color: white;
              font-weight: 300; }
            .collab-sec .outer-blur-bck .inner-blur-bck .collab-card .collab-inner-div .cards .lower-card span {
              background: rgba(152, 151, 151, 0.3);
              color: white; }
    .collab-sec .outer-blur-bck::before {
      content: "";
      position: absolute;
      border-radius: .5rem;
      border: .1rem solid #cecece39;
      height: 100%;
      width: 100%;
      background: rgba(209, 209, 209, 0.1);
      z-index: -1;
      backdrop-filter: blur(55px); }

.contribution-sec {
  height: 72rem;
  margin: 0 2.8rem;
  background-image: radial-gradient(circle at 50% 100%, #530c01 10%, #050505 49%, black 60%);
  display: flex; }
  .contribution-sec .outer-half {
    height: 100%;
    width: 50%; }
  .contribution-sec .contri-left-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center; }
    .contribution-sec .contri-left-div .main-logo-div {
      height: 44rem;
      width: 44rem; }
    .contribution-sec .contri-left-div .logo-part {
      height: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      justify-content: space-evenly; }
    .contribution-sec .contri-left-div .logo-part-div {
      width: 20rem;
      height: 20rem; }
    .contribution-sec .contri-left-div .upper-logo {
      position: relative; }
      .contribution-sec .contri-left-div .upper-logo::before {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100vw;
        height: .01rem;
        background-color: #9FA1A339; }
    .contribution-sec .contri-left-div .left-up {
      background-color: rgba(255, 255, 255, 0.1);
      border-bottom-right-radius: 50%;
      border-top-left-radius: 100%;
      position: relative; }
      .contribution-sec .contri-left-div .left-up .cut {
        border-left: 50px solid black;
        border-top: 20px solid transparent;
        border-bottom: 60px solid transparent;
        position: absolute; }
      .contribution-sec .contri-left-div .left-up .cut1 {
        left: 40%;
        top: -10%;
        transform: rotate(-40deg); }
      .contribution-sec .contri-left-div .left-up .cut2 {
        transform: rotate(-85deg);
        bottom: 30%;
        left: -2%; }
    .contribution-sec .contri-left-div .right-up {
      border-bottom-left-radius: 50%;
      border-top-right-radius: 100%;
      background: url(/images/gradient-color.jpg) no-repeat center center/cover;
      position: relative; }
      .contribution-sec .contri-left-div .right-up .cut {
        border-left: 50px solid black;
        border-top: 20px solid transparent;
        border-bottom: 60px solid transparent;
        position: absolute; }
      .contribution-sec .contri-left-div .right-up .cut3 {
        left: 40%;
        top: -10%;
        transform: rotate(-40deg);
        transform: scale(1); }
      .contribution-sec .contri-left-div .right-up .cut4 {
        transform: rotate(40deg);
        bottom: 30%;
        right: -2%; }
    .contribution-sec .contri-left-div .left-down {
      background-color: rgba(255, 255, 255, 0.1);
      border-top-right-radius: 50%;
      border-bottom-left-radius: 100%;
      position: relative;
      overflow: hidden; }
      .contribution-sec .contri-left-div .left-down .cut {
        border-left: 50px solid black;
        border-top: 20px solid transparent;
        border-bottom: 60px solid transparent;
        position: absolute; }
      .contribution-sec .contri-left-div .left-down .cut5 {
        left: -2%;
        top: 20%;
        transform: rotate(50deg) scale(-1); }
      .contribution-sec .contri-left-div .left-down .cut6 {
        left: 30%;
        top: 60%;
        transform: rotate(20deg) scale(-1); }
    .contribution-sec .contri-left-div .right-down {
      background-color: rgba(255, 255, 255, 0.1);
      border-top-left-radius: 50%;
      border-bottom-right-radius: 100%;
      position: relative;
      overflow: hidden; }
      .contribution-sec .contri-left-div .right-down .cut {
        border-left: 50px solid black;
        border-top: 20px solid transparent;
        border-bottom: 60px solid transparent;
        position: absolute; }
      .contribution-sec .contri-left-div .right-down .cut {
        border-left: 50px solid #2A0803; }
      .contribution-sec .contri-left-div .right-down .cut7 {
        right: -1%;
        top: 30%;
        transform: rotate(85deg); }
      .contribution-sec .contri-left-div .right-down .cut8 {
        right: 38%;
        top: 70%;
        transform: rotate(130deg); }
  .contribution-sec .contri-right-div div {
    height: 50%;
    padding: 0 2.8rem; }
  .contribution-sec .contri-right-div .right-div1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    gap: 8rem;
    border-bottom: .1rem solid #9FA1A339; }
    .contribution-sec .contri-right-div .right-div1 h1 {
      margin-left: 7rem;
      font-size: 2rem;
      width: min-content;
      transform: scale(1.95, 1.5); }
    .contribution-sec .contri-right-div .right-div1 p {
      color: #a9a8a8;
      height: 3rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 3.2rem;
      font-weight: bold; }
      .contribution-sec .contri-right-div .right-div1 p span {
        display: inline-block;
        height: 100%; }
        .contribution-sec .contri-right-div .right-div1 p span#white {
          color: white;
          border-bottom: 0.15rem solid #fa7406; }
  .contribution-sec .contri-right-div .right-div2 p {
    color: #a9a8a8;
    line-height: 2rem;
    padding: 3rem 15rem 0 0;
    font-size: 1.4rem; }

.team-sec {
  height: 69rem; }
  .team-sec .sec-heading-txt {
    height: 18rem;
    padding-left: 2.8rem;
    border-bottom: .1rem solid #9FA1A339;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: end;
    font-family: 'Roboto', sans-serif; }
    .team-sec .sec-heading-txt p {
      width: 30.6rem;
      padding: 2.8rem;
      font-size: 2.6rem;
      font-weight: 300; }
      .team-sec .sec-heading-txt p span {
        color: #b7b5b5;
        opacity: .7; }
  .team-sec .team-card {
    margin: 0 2.8rem;
    display: grid;
    grid-template-columns: repeat(4, 30.6rem);
    grid-template-rows: 36.8rem;
    justify-items: center;
    align-items: center; }
    .team-sec .team-card .cards {
      height: 31.3rem;
      width: 25rem;
      border-radius: .6rem;
      background-color: #DDDFE1; }
      .team-sec .team-card .cards .upper-card {
        padding: 2.8rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 2.5rem;
        font-size: .93rem;
        font-weight: 600;
        height: 82%; }
        .team-sec .team-card .cards .upper-card p span.numb {
          background-color: white;
          color: #3e3d3d; }
        .team-sec .team-card .cards .upper-card p span {
          padding: .15rem .4rem;
          border-radius: 2rem;
          background-color: black;
          color: #DDDFE1; }
        .team-sec .team-card .cards .upper-card .card-logo {
          height: 6.1rem;
          width: max-content;
          display: flex;
          justify-content: space-between;
          align-items: center; }
        .team-sec .team-card .cards .upper-card .address {
          font-family: 'Roboto', sans-serif;
          font-size: 1.4rem;
          font-weight: 400;
          color: #595959; }
          .team-sec .team-card .cards .upper-card .address .p2 {
            margin-top: .6rem;
            color: #8b8a8a; }
      .team-sec .team-card .cards .lower-card {
        height: calc(100% - 82%);
        border-top: .15rem solid #9FA1A339;
        font-family: 'Roboto', sans-serif;
        padding: 0 2.8rem;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .team-sec .team-card .cards .lower-card p {
          font-size: 1.4rem;
          color: #595959;
          font-weight: 400; }
        .team-sec .team-card .cards .lower-card span {
          font-size: 1.5rem;
          background-color: white;
          color: black;
          height: 2.7rem;
          width: 2.7rem;
          border-radius: 50%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          justify-content: center;
          font-weight: 400; }
      .team-sec .team-card .cards.card8 {
        font-family: 'Roboto', sans-serif;
        background-image: linear-gradient(#565555, #232323); }
        .team-sec .team-card .cards.card8 .upper-card {
          padding: 7rem 2.8rem; }
          .team-sec .team-card .cards.card8 .upper-card .last-card-text {
            font-size: 2rem;
            font-weight: 400;
            color: #d3d1d1; }
          .team-sec .team-card .cards.card8 .upper-card .last-card-numb {
            color: #707070;
            font-size: 1.4rem;
            margin-top: 1.7rem;
            font-weight: 400; }
        .team-sec .team-card .cards.card8 .last-card-p p {
          color: #d4d2d2;
          font-weight: 300; }
        .team-sec .team-card .cards.card8 .last-card-p span {
          background-color: #fa4c12; }
  .team-sec .member {
    height: 31rem;
    width: 25rem;
    position: relative;
    z-index: 2; }
    .team-sec .member .team-details {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 2.5rem;
      flex-direction: column;
      align-items: start;
      justify-content: end;
      height: 100%;
      line-height: 2rem;
      font-family: "Roboto", sans-serif; }
      .team-sec .member .team-details #social-media {
        padding: 3rem 0;
        font-size: 1.2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem; }
      .team-sec .member .team-details #name {
        font-size: 1.2rem;
        line-height: 2rem; }
      .team-sec .member .team-details #role {
        font-size: 1.2rem;
        color: #767676;
        padding-right: 4rem; }
    .team-sec .member#m1::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      border-radius: .5rem;
      filter: grayscale(100%) brightness(0.9);
      background: url("/images/m2.jpg") no-repeat center center/cover; }
    .team-sec .member#m2::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      border-radius: .5rem;
      filter: grayscale(100%) brightness(0.9);
      background: url("/images/m1.jpg") no-repeat center center/cover; }
    .team-sec .member#m3::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      border-radius: .5rem;
      filter: grayscale(100%) brightness(0.9);
      background: url("/images/m3.jpg") no-repeat center center/cover; }

.writing-sec {
  color: black;
  height: 66rem;
  background-color: white;
  border-radius: .5rem; }
  .writing-sec .writing-div1 {
    height: 16.7rem;
    padding-left: 14rem;
    border-bottom: .1rem solid #9FA1A339;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .writing-sec .writing-div1 p {
      width: max-content;
      font-size: 3rem;
      font-weight: bold;
      transform: scale(2.5, 1.5);
      letter-spacing: -.2rem; }
  .writing-sec .writing-div2 {
    height: 38rem;
    padding: 0 2.8rem;
    border-bottom: .1rem solid #9FA1A339; }
    .writing-sec .writing-div2 .writing-div2-inner {
      display: grid;
      grid-template-columns: repeat(4, 30.6rem);
      grid-template-rows: 38rem; }
      .writing-sec .writing-div2 .writing-div2-inner #writing-logo {
        padding: 6rem 3rem; }
      .writing-sec .writing-div2 .writing-div2-inner .writing-image {
        height: 14rem;
        position: relative;
        width: 14rem;
        background: #ff3c00 url(/images/footer\ logo.png) no-repeat center;
        background-size: 50%;
        border-radius: 1rem; }
        .writing-sec .writing-div2 .writing-div2-inner .writing-image::before {
          content: "";
          position: absolute;
          background: url(/images/gradient-color.jpg) no-repeat center center/cover;
          opacity: .7;
          width: 100%;
          height: 100%;
          border-radius: 1rem; }
      .writing-sec .writing-div2 .writing-div2-inner .wrt-grid-item {
        padding: 2.8rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        position: relative; }
        .writing-sec .writing-div2 .writing-div2-inner .wrt-grid-item:hover::before {
          content: "";
          position: absolute;
          background-color: rgba(225, 225, 102, 0.4);
          width: 100%;
          height: 100%;
          left: 0;
          top: 0; }
      .writing-sec .writing-div2 .writing-div2-inner .wrt-new {
        position: relative; }
        .writing-sec .writing-div2 .writing-div2-inner .wrt-new::after {
          content: "new";
          position: absolute;
          top: 10%;
          border: .1rem solid;
          background-color: black;
          color: white;
          padding: 0.2rem 0.5rem;
          border-radius: 2rem;
          font-size: .8rem; }
    .writing-sec .writing-div2 .wrt-hd {
      margin-top: 4rem;
      font-size: 2.4rem; }
    .writing-sec .writing-div2 .wrt-lower-div {
      width: 100%; }
      .writing-sec .writing-div2 .wrt-lower-div > p {
        font-size: 1.4rem;
        color: #302f2f;
        margin-bottom: 0.8rem; }
      .writing-sec .writing-div2 .wrt-lower-div div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-items: center; }
        .writing-sec .writing-div2 .wrt-lower-div div p {
          font-size: 1.3rem;
          color: #757575 !important; }
        .writing-sec .writing-div2 .wrt-lower-div div i {
          height: 2.4rem;
          width: 2.4rem;
          border-radius: 50%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          justify-content: center;
          transform: rotate(45deg);
          font-size: 1.2rem;
          color: #757575 !important;
          background-color: #dedcdc; }
  .writing-sec .writing-div3 {
    height: 11rem;
    padding-left: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .writing-sec .writing-div3 p {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: 1.15rem;
      color: #828181; }
    .writing-sec .writing-div3 p i {
      font-size: 3rem;
      color: black; }

.footer-sec {
  position: relative;
  height: 77rem; }
  .footer-sec .footer-abs-div {
    position: absolute;
    height: 10rem;
    background-color: #ffe600;
    width: 100%; }
  .footer-sec footer {
    width: 100%;
    position: absolute;
    height: 70rem;
    top: 7rem;
    border-radius: .5rem;
    background-image: radial-gradient(circle at 10% 130%, #530c01 5%, #050505 49%, black 60%);
    font-family: "Roboto", sans-serif; }
  .footer-sec .footer-upper-outer {
    height: 88%;
    border-bottom: .1rem solid #9FA1A339; }
    .footer-sec .footer-upper-outer > div {
      height: 100%;
      margin: 0 2.8rem;
      display: grid;
      grid-template-columns: repeat(4, 30.6rem);
      grid-template-rows: 1fr; }
    .footer-sec .footer-upper-outer .ftr-inner {
      height: 100%;
      padding: 10rem 2rem 3rem 3rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      align-items: start; }
    .footer-sec .footer-upper-outer #ftr-logo {
      height: 6.5rem;
      width: 6.5rem; }
    .footer-sec .footer-upper-outer .address-div {
      font-weight: 300;
      height: 30%;
      line-height: 1.7rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      align-items: start;
      gap: 2rem;
      color: #b0aeae; }
      .footer-sec .footer-upper-outer .address-div h3 {
        font-weight: 300;
        font-size: 1.15rem;
        color: #e2e2e2; }
    .footer-sec .footer-upper-outer .ftr-inner2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      justify-content: end; }
      .footer-sec .footer-upper-outer .ftr-inner2 p {
        height: 30%;
        line-height: 1.5rem;
        font-size: .9rem;
        font-weight: 300;
        color: #b0aeae; }
  .footer-sec .ftr-inner3 #ftr-link {
    width: 100%;
    list-style: none;
    font-size: 2.1rem;
    font-weight: 300; }
    .footer-sec .ftr-inner3 #ftr-link li {
      margin-bottom: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      padding: .3rem 1rem;
      position: relative; }
      .footer-sec .ftr-inner3 #ftr-link li:hover::before {
        content: "";
        position: absolute;
        background-color: rgba(225, 225, 102, 0.4);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0; }
    .footer-sec .ftr-inner3 #ftr-link li i {
      color: #b0aeae;
      opacity: 0.4; }
  .footer-sec .ftr-inner3 #newsletter {
    width: 100%;
    height: 30%; }
    .footer-sec .ftr-inner3 #newsletter p {
      margin-bottom: 2rem;
      font-size: 1.2rem;
      font-weight: 300; }
    .footer-sec .ftr-inner3 #newsletter .email-input {
      border: 0.1rem solid #787777;
      height: 4.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: .4rem;
      background-color: #272727;
      color: white;
      opacity: 0.8; }
      .footer-sec .ftr-inner3 #newsletter .email-input input {
        height: 100%;
        border-style: none;
        background: none;
        padding-left: 1rem; }
        .footer-sec .ftr-inner3 #newsletter .email-input input:focus {
          outline: none; }
      .footer-sec .ftr-inner3 #newsletter .email-input i {
        margin-right: 1rem;
        height: 2.7rem;
        width: 2.7rem;
        border-radius: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
        background-color: #4d4c4c; }
  .footer-sec .ftr-inner4 ul {
    margin-bottom: 2rem;
    list-style: none; }
    .footer-sec .ftr-inner4 ul li {
      padding: .3rem .2rem;
      margin-bottom: 0rem;
      font-size: 1.2rem;
      color: #b0aeae;
      position: relative;
      cursor: pointer; }
      .footer-sec .ftr-inner4 ul li:hover::before {
        content: "";
        position: absolute;
        background-color: rgba(225, 225, 102, 0.4);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0; }
  .footer-sec .ftr-inner4 .partner-ship {
    min-height: 30%; }
    .footer-sec .ftr-inner4 .partner-ship p {
      color: #b0aeae;
      line-height: 1.2rem; }
    .footer-sec .ftr-inner4 .partner-ship span {
      display: inline-block;
      height: 2.5rem;
      width: 5rem;
      margin-top: 1.3rem;
      margin-right: .5rem;
      border-radius: .3rem; }
    .footer-sec .ftr-inner4 .partner-ship .partner1 {
      background: url(/images/partner1.jpg) no-repeat center center/cover; }
    .footer-sec .ftr-inner4 .partner-ship .partner2 {
      background: url(/images/partner2.jpg) no-repeat center center/cover; }
  .footer-sec .footer-lower {
    height: calc(70rem - 88%);
    margin: 0 2.8rem;
    display: flex; }
    .footer-sec .footer-lower div {
      width: 50%;
      height: 100%;
      padding: 0 3rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.2rem;
      color: #b0aeae; }
      .footer-sec .footer-lower div span {
        color: white; }

/*# sourceMappingURL=main.css.map */
