@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@100;300;400;500;700&display=swap');
@import 'allMixin';
@import 'navbar';
$font-main: 'Raleway', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$ftr-para-color: rgb(176, 174, 174);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 62.5%;
    font-family: sans-serif;




}

body {

    color: white;
    position: relative;
    background-color: #000000;
    z-index: 1;
    height: max-content;

    &::-webkit-scrollbar {
        display: none;
    }

    .bdr {
        width: .1rem;
        height: 100%;
        position: absolute;
        z-index: 100;
        background-color: #9FA1A339;
        opacity: 1;

        &.b1 {

            left: 2.8rem;
        }

        &.b2 {

            left: 33.4rem;
        }

        &.b3 {

            left: 64rem;
        }

        &.b4 {

            left: 94.6rem;
        }

        &.b5 {

            left: 125.2rem;
        }
    }



}

@include navar-css;

//header section 2

.header-sec1 {
    width: 61.2rem;
    margin: 2.8rem 2.8rem 0 auto;
    height: 29.5rem;

    @include flex-box;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 6rem;


    h1 {
        width: 20rem;
        margin-left: 12rem;
        line-height: 2.2rem;
        letter-spacing: -.09rem;
        font-size: 2.2rem;
        transform: scale(1.87, 1.4)
    }

    @include left-bdr-btn;


}

.header-sec2 {
    position: relative;

    .sec2-txt {
        height: 19.1rem;

        @include flex-box;
        justify-content: center;


        h1.fab {

            margin-left: -5.4rem;
            font-size: 6rem;
            transform: scale(6.8, 4.3);
            letter-spacing: -.3rem;
            font-weight: 500;
            line-height: 4.5rem;
            font-family: $font-roboto;



        }
    }

    p {
        font-size: 2.5rem;
        position: absolute;
        right: 2.7rem;
        top: 0rem;

    }

}

.outer-div2-mainsec {

    background-image: radial-gradient(circle at 30% 100%, rgb(83, 12, 1) 10%, rgb(5, 5, 5) 49%, rgb(0, 0, 0) 60%);
    height: 84rem;

    .div2-mainsec {
        height: 66rem;
        @include flex-box;

        .div2-sec1 {
            width: 61.2rem;
            height: 40rem;

            margin: 2.8rem 2.8rem 0 auto;
            @include flex-box;
            flex-direction: column;
            align-items: start;
            justify-content: space-between;

            p.div2-txt {

                padding: 0 2rem 0 2.8rem;

                font-size: 2.56rem;
                line-height: 3.2rem;
                font-family: $font-roboto;
                font-weight: 300;

                span {
                    color: rgb(184, 184, 184);
                }



            }

            .div2-btn {
                width: 100%;
                @include flex-box;
                @include left-bdr-btn;

            }

        }
    }

    .banner-text {
        height: calc(84rem - 66rem);
        @include flex-box;
        justify-content: center;

        h1 {
            margin-left: -1.1rem;
            font-size: 5.8rem;
            font-weight: bold;
            transform: scale(1.76, 1.1);
            letter-spacing: -.31rem;

            span {
                color: rgb(183, 181, 181);
                font-weight: 900;
                opacity: .7;



            }
        }

    }

}

.porfolio-main-sec {
    height: 94.5rem;
    background-image: radial-gradient(circle at 30% -12%, rgb(83, 12, 1) 10%, rgb(5, 5, 5) 49%, rgb(0, 0, 0) 60%);

    @include sec-heading;

    .pfolio-grid {
        margin: 0 2.8rem;

        height: 75rem;
        display: grid;
        grid-template-columns: repeat(4, 30.6rem);

        grid-template-rows: 1fr 1fr;
        justify-items: center;
        align-items: end;

        .cards {
            @include cards;
            @include last-card;
            position: relative;
            @include hover-effect;


        }

    }
}


//bold sec

.bold-main-sec {
    height: 30.5rem;
    // background-color: yellow;
    padding-top: 11.7rem;

    .bold-sec {
        margin: 0 2.8rem 0 auto;
        @include flex-box;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;

        width: 61.2rem;
        height: 17rem;

        p.bld-txt {
            font-size: 1.2rem;
            font-weight: 600;
            margin-left: 14.7rem;
            border-right: .1rem solid grey;
            padding-right: .1rem;
            transform: scale(3.4, 2.2);









        }

        @include left-bdr-btn;

    }
}

.collab-sec {
    height: 80rem;
    margin-top: 10rem;
    position: relative;


    .bck-ylw-txt {
        height: 11rem;
        position: absolute;
        z-index: -2;
        width: 100%;
        border-radius: .5rem;
        background-color: #ffe600;

    }

    .outer-blur-bck {
        height: 67rem;
        position: relative;
        top: 9rem;

        .inner-blur-bck {
            height: 100%;
            @include sec-heading;

            .collab-card {
                height: calc(70rem - 18rem);

                .collab-inner-div {
                    margin: 0 2.8rem;
                    display: grid;
                    grid-template-columns: repeat(4, 30.6rem);
                    grid-template-rows: 36.8rem;
                    justify-items: center;
                    align-items: center;

                    .cards {
                        position: relative;
                        background-color: black !important;
                        @include cards;
                        @include hover-effect;

                        .address {
                            p {
                                color: white;
                            }
                        }

                        .lower-card {
                            p {
                                color: white;
                                font-weight: 300;
                            }

                            span {
                                background: rgba(152, 151, 151, 0.3);
                                color: white;
                            }
                        }
                    }
                }
            }

        }

        &::before {
            content: "";
            position: absolute;
            border-radius: .5rem;
            border: .1rem solid #cecece39;
            height: 100%;
            width: 100%;
            background: rgba(209, 209, 209, 0.1);
            z-index: -1;
            backdrop-filter: blur(55px);
        }

    }
}

// contibution section css

.contribution-sec {
    height: 72rem;
    margin: 0 2.8rem;
    background-image: radial-gradient(circle at 50% 100%, rgb(83, 12, 1) 10%, rgb(5, 5, 5) 49%, rgb(0, 0, 0) 60%);
    display: flex;

    .outer-half {
        height: 100%;
        width: 50%;
    }

    .contri-left-div {
        @include flex-box;
        justify-content: center;

        .main-logo-div {
            height: 44rem;
            width: 44rem;
        }

        .logo-part {
            height: 50%;
            @include flex-box;
            justify-content: space-evenly;



        }

        .logo-part-div {
            width: 20rem;
            height: 20rem;
        }

        .upper-logo {
            position: relative;
// border line bototm
            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                width: 100vw;
                height: .01rem;
                background-color: #9FA1A339;

            }

        }

        .left-up {
            background-color: rgba(255, 255, 255, 0.1);
            border-bottom-right-radius: 50%;
            border-top-left-radius: 100%;
            position: relative;

            @include logo-cut;

            .cut1 {
                left: 40%;
                top: -10%;
                transform: rotate(-40deg);
            }

            .cut2 {

                transform: rotate(-85deg);
                bottom: 30%;
                left: -2%;
            }


        }

        .right-up {

            border-bottom-left-radius: 50%;
            border-top-right-radius: 100%;
            background: url(/images/gradient-color.jpg) no-repeat center center/cover;
            position: relative;
            @include logo-cut;

            .cut3 {
                left: 40%;
                top: -10%;
                transform: rotate(-40deg);
                transform: scale(1);
            }

            .cut4 {

                transform: rotate(40deg);
                bottom: 30%;
                right: -2%;
            }
        }

        .left-down {
            background-color: rgba(255, 255, 255, 0.1);
            border-top-right-radius: 50%;
            border-bottom-left-radius: 100%;
            position: relative;
            overflow: hidden;
            @include logo-cut;

            .cut5 {
                left: -2%;
                top: 20%;
                transform: rotate(50deg) scale(-1);
             
            }

            .cut6 {

                left: 30%;
                top: 60%;
                transform: rotate(20deg) scale(-1);
            }

        }

        .right-down {
            background-color: rgba(255, 255, 255, 0.1);
            border-top-left-radius: 50%;
            border-bottom-right-radius: 100%;
            position: relative;
            overflow: hidden;
            @include logo-cut;
            .cut {
                border-left: 50px solid #2A0803;}
            .cut7 {
                right: -1%;
                top: 30%;
                transform: rotate(85deg);
             
            }

            .cut8 {

                right: 38%;
                top: 70%;
                transform: rotate(130deg);
            }
        }


    }



    .contri-right-div {
        div {
            height: 50%;
            // border: .1px solid ;

            padding: 0 2.8rem;
        }

        .right-div1 {
            @include flex-box;
            flex-direction: column;
            justify-content: end;
            align-items: start;
            gap: 8rem;
            border-bottom: .1rem solid #9FA1A339;

            h1 {
                margin-left: 7rem;
                font-size: 2rem;

                width: min-content;
                transform: scale(1.95, 1.5);




            }

            p {
                color: rgb(169, 168, 168);
                height: 3rem;
                @include flex-box;
                gap: 3.2rem;
                font-weight: bold;

                span {

                    display: inline-block;
                    height: 100%;

                    &#white {
                        color: white;
                        border-bottom: .15rem solid rgb(250, 116, 6);

                    }
                }
            }


        }

        .right-div2 {
            p {
                color: rgb(169, 168, 168);
                line-height: 2rem;
                padding: 3rem 15rem 0 0;
                font-size: 1.4rem;

            }
        }

    }




}

// team section css

.team-sec {
    height: 69rem;
    @include sec-heading;

    .team-card {
        margin: 0 2.8rem;
        display: grid;
        grid-template-columns: repeat(4, 30.6rem);
        grid-template-rows: 36.8rem;
        justify-items: center;
        align-items: center;

        .cards {
            @include cards;
            @include last-card;


        }
    }

    .member {
        height: 31rem;
        width: 25rem;
        position: relative;
        z-index: 2;

        .team-details {
            @include flex-box;
            padding-left: 2.5rem;
            flex-direction: column;
            align-items: start;
            justify-content: end;
            height: 100%;
            line-height: 2rem;
            font-family: $font-roboto;


            #social-media {
                padding: 3rem 0;
                font-size: 1.2rem;
                @include flex-box;
                gap: 1rem;

            }

            #name {
                font-size: 1.2rem;
                line-height: 2rem;
            }

            #role {
                font-size: 1.2rem;
                color: rgb(118, 118, 118);
                padding-right: 4rem;
            }

        }




        &#m1 {


            &::before {
                @include greyscale-image;
                background: url("/images/m2.jpg") no-repeat center center/cover;
            }
        }

        &#m2 {


            &::before {
                @include greyscale-image;
                background: url("/images/m1.jpg") no-repeat center center/cover;
            }
        }

        &#m3 {


            &::before {
                @include greyscale-image;
                background: url("/images/m3.jpg") no-repeat center center/cover;
            }
        }
    }
}

// writing section

.writing-sec {
    color: black;
    height: 66rem;
    background-color: white;
    border-radius: .5rem;


    .writing-div1 {
        height: 16.7rem;
        padding-left: 14rem;
        border-bottom: .1rem solid #9FA1A339;
        @include flex-box;

        p {
            width: max-content;
            font-size: 3rem;
            font-weight: bold;
            transform: scale(2.5, 1.5);
            letter-spacing: -.2rem;



        }




    }

    .writing-div2 {
        height: 38rem;
        padding: 0 2.8rem;
        border-bottom: .1rem solid #9FA1A339;

        .writing-div2-inner {

            display: grid;
            grid-template-columns: repeat(4, 30.6rem);
            grid-template-rows: 38rem;

            #writing-logo {
                padding: 6rem 3rem;
            }

            .writing-image {
                height: 14rem;
                position: relative;
                width: 14rem;
                background: rgb(255, 60, 0) url(/images/footer\ logo.png) no-repeat center;
                background-size: 50%;
                border-radius: 1rem;

                &::before {
                    content: "";
                    position: absolute;
                    background: url(/images/gradient-color.jpg) no-repeat center center/cover;
                    opacity: .7;
                    width: 100%;
                    height: 100%;
                    border-radius: 1rem;

                }

            }

            .wrt-grid-item {
                padding: 2.8rem;
                @include flex-box;
                flex-direction: column;
                justify-content: space-between;
                align-items: start;
                position: relative;
                @include hover-effect;



            }

            .wrt-new {
                position: relative;

                &::after {
                    content: "new";
                    position: absolute;
                    top: 10%;
                    border: .1rem solid;
                    background-color: black;
                    color: white;
                    padding: .2rem.5rem;
                    border-radius: 2rem;
                    font-size: .8rem;

                }
            }

        }

        .wrt-hd {
            margin-top: 4rem;
            font-size: 2.4rem;

        }

        .wrt-lower-div {
            width: 100%;

            &>p {
                font-size: 1.4rem;
                color: rgb(48, 47, 47);
                margin-bottom: .8rem
            }

            div {
                @include flex-box;
                align-items: center;

                p {
                    font-size: 1.3rem;
                    color: rgb(117, 117, 117) !important;
                }

                i {
                    height: 2.4rem;
                    width: 2.4rem;
                    border-radius: 50%;
                    @include flex-box;
                    justify-content: center;
                    transform: rotate(45deg);
                    font-size: 1.2rem;
                    color: rgb(117, 117, 117) !important;
                    background-color: rgb(222, 220, 220);
                    ;
                }
            }
        }


    }

    .writing-div3 {
        height: 11rem;
        padding-left: 5rem;
        @include flex-box;

        p {
            display: flex;
            align-items: center;
            gap: 1rem;
            font-size: 1.15rem;
            color: rgb(130, 129, 129);
        }

        p i {
            font-size: 3rem;
            color: black;

        }
    }
}

// footer section
.footer-sec {
    position: relative;
    height: 77rem;


    .footer-abs-div {
        position: absolute;
        height: 10rem;
        background-color: #ffe600;
        width: 100%;

    }

    footer {
        width: 100%;
        position: absolute;
        height: 70rem;
        top: 7rem;
        border-radius: .5rem;
        background-image: radial-gradient(circle at 10% 130%, rgb(83, 12, 1) 5%, rgb(5, 5, 5) 49%, rgb(0, 0, 0) 60%);
        font-family: $font-roboto;
    }

    .footer-upper-outer {
        height: 88%;
        border-bottom: .1rem solid #9FA1A339;

        &>div {
            height: 100%;
            margin: 0 2.8rem;
            display: grid;
            grid-template-columns: repeat(4, 30.6rem);
            grid-template-rows: 1fr;

        }

        .ftr-inner {
            height: 100%;
            padding: 10rem 2rem 3rem 3rem;
            @include flex-box;
            flex-direction: column;
            justify-content: space-between;
            align-items: start;

        }

        #ftr-logo {
            height: 6.5rem;
            width: 6.5rem;
        }

        .address-div {
            font-weight: 300;
            height: 30%;
            line-height: 1.7rem;
            @include flex-box;
            flex-direction: column;
            align-items: start;
            gap: 2rem;
            color: $ftr-para-color;

            h3 {
                font-weight: 300;
                font-size: 1.15rem;
                color: rgb(226, 226, 226);
            }
        }

        .ftr-inner2 {
            @include flex-box;
            justify-content: end;

            p {
                height: 30%;
                line-height: 1.5rem;
                font-size: .9rem;
                font-weight: 300;
                color: $ftr-para-color;



            }
        }

    }

    .ftr-inner3 {
        #ftr-link {
            width: 100%;
            list-style: none;
            font-size: 2.1rem;
            font-weight: 300;

            li {
                margin-bottom: 1rem;
                @include flex-box;
                cursor: pointer;
                padding: .3rem 1rem;
                position: relative;

                @include hover-effect;

            }

            li i {
                color: $ftr-para-color;
                opacity: 0.4;
            }


        }

        #newsletter {
            width: 100%;
            height: 30%;

            p {
                margin-bottom: 2rem;
                font-size: 1.2rem;
                font-weight: 300;
            }

            .email-input {
                border: .1rem solid rgb(120, 119, 119);
                height: 4.5rem;
                @include flex-box;
                border-radius: .4rem;
                background-color: rgb(39, 39, 39);
                color: white;
                opacity: 0.8;


                input {
                    height: 100%;
                    border-style: none;
                    background: none;
                    padding-left: 1rem;

                    &:focus {
                        outline: none;
                    }

                }

                i {
                    margin-right: 1rem;
                    height: 2.7rem;
                    width: 2.7rem;
                    border-radius: 50%;
                    @include flex-box;
                    justify-content: center;
                    background-color: rgb(77, 76, 76);

                }

            }
        }
    }

    .ftr-inner4 {
        ul {
            margin-bottom: 2rem;
            list-style: none;

            li {
                padding: .3rem .2rem;
                margin-bottom: 0rem;
                font-size: 1.2rem;
                color: $ftr-para-color;
                position: relative;
                @include hover-effect;
                cursor: pointer;
            }
        }

        .partner-ship {
            min-height: 30%;

            p {
                color: $ftr-para-color;
                line-height: 1.2rem;
            }

            span {
                display: inline-block;
                height: 2.5rem;
                width: 5rem;
                margin-top: 1.3rem;
                margin-right: .5rem;
                border-radius: .3rem;
            }

            .partner1 {
                background: url(/images/partner1.jpg) no-repeat center center/cover;
            }

            .partner2 {
                background: url(/images/partner2.jpg) no-repeat center center/cover;
            }
        }
    }

    .footer-lower {
        height: calc(70rem - 88%);
        margin: 0 2.8rem;
        display: flex;

        div {
            width: 50%;
            height: 100%;
            padding: 0 3rem;
            @include flex-box;
            font-size: 1.2rem;
            color: $ftr-para-color;
           
            span{
                color: white;
            }
        }
    }
}